<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Quản lý user</h2>
    <a class="btn btn-primary" href="/logout" th:href="@{/logout}">Đăng xuất</a>
    <br>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Tất cả user</a></li>
        <li><a data-toggle="tab" href="#menu1">User đang hoạt động</a></li>
        <li><a data-toggle="tab" href="#menu2">User bị khoá</a></li>
        <li><a data-toggle="tab" href="#menu3">Ẩnh bị report</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th> STT</th>
                    <th>Tên đăng nhập</th>
                    <th>Trạng thái</th>
                    <th>Ngày tạo</th>
                    <th>Chức vụ</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, indexStat : ${listUser}">
                    <td th:text="${indexStat.index + 1}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.isActive() == true ? 'Đang kích hoạt' : 'Bị khoá'}"></td>
                    <td th:text="${user.getCreatedAt()}"></td>
                    <td>
                        <ul>
                            <li th:each="dataRole : ${user.getRoleName()}">
                                <span th:text="${dataRole}"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <button th:attr="onclick=|doLockOrUnlock('${user.getUsername()}', '${user.isActive()}')|"  class="btn"><i class="fa fa-lock"></i><span  th:text="${user.isActive() == true ? ' Khoá TK' : ' Mở khoá TK'}"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <div id="menu1" class="tab-pane fade">

        </div>
        <div id="menu2" class="tab-pane fade">
            <h4>203 user bị khoá</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>200 ảnh chưa được xử lý report</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>
<script src="/js/adminClient.js" th:src="@{/js/adminClient.js}"></script>
</body>
</html>