<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Bạn bè</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/userStyle.css" th:href="@{/css/userStyle.css}"/>
</head>
<body>
<div class="d-flex flex-column  align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm sticky-top" style="overflow:hidden;">
    <a class="navbar-brand" href="/user" th:href="@{/user}">
        <img src="/img/instagram1.png" th:src="@{/img/instagram1.png}" width="30" height="30" class="d-inline-block align-top" alt="">
        Share Your Memories
    </a>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/news-feed" th:href="@{/news-feed}">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user" th:href="@{/user}">Cá nhân</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/list-friend" th:href="@{/user/list-friend}">Bạn bè</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/setting" th:href="@{/user/setting}">Cài đặt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/notify" th:href="@{/user/notify}">Thông báo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" th:href="@{/logout}">Đăng xuất</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="get" action="/friend/search" th:action="@{/friend/search}">
                <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm bạn bè" aria-label="Search" name="q" value="">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Tìm</button>
            </form>
        </div>
    </nav>
</div>
<div class="container" style="position: sticky;">
    <div class="row">
        <div class="col-4">
            <div class="container">
                <div class="row">
                    <img alt="image" th:src="${userInfo.urlAvatar}" width="150px" height="150px" style="border-radius: 50%; margin: 0 auto;"/>
                </div>
                <br>
                <div class="row">
                    <h5 style="text-align: center; width: 100%;" th:text="${userInfo.fullName}"></h5>
                </div>
            </div>
            <div class="row">
                <div class="card w-100">
                    <div class="card-header">
                        Thông tin cá nhân
                    </div>
                    <div class="card-body">
                        <label for="sinhNhat"><strong>Sinh nhật :</strong></label>
                        <p class="card-title" id="sinhNhat" th:text="${userInfo.birthDay}"></p>
                        <label for="location"><strong>Quê quán :</strong></label>
                        <p class="card-title" id="location" th:if="${userInfo.location != null}" th:text="${userInfo.location}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="container">
                <div class="row">
                    <ul class="list-group list-group-flush" style="margin: 0 auto; width: 100%;">
                        <li class="list-group-item" th:each="postItem, interParentStat : ${listPost}">
                            <div class="card w-75" style="margin: 0 auto;" >
                                <div class="card-header">
                                    <span th:text="${postItem.createdAt}"></span>
                                </div>
                                <div class="card-body">
                                    <div class="container">
                                        <div th:if="${postItem.getUrlImage().size() != 0}" th:id="'carouselExampleIndicators' + ${interParentStat.index}" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item" th:each="itemImage, iterStat  : ${postItem.urlImage}" th:classappend="${iterStat.index == 0} ? active : '' ">
                                                    <img style="background-position: center;" th:src="${itemImage}" width="300px" height="200px" class="d-block w-100" alt="...">
                                                </div>
                                                <a class="carousel-control-prev" th:href="'#carouselExampleIndicators' + ${interParentStat.index}" role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" th:href="'#carouselExampleIndicators' + ${interParentStat.index}" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <p style="width: 100%; margin-top: 1%;" th:text="${postItem.postContent}"></p>
                                        </div>
                                        <div class="row">
                                            <button th:id="'btnLikePost' + ${postItem.getPostId()}" th:class="${postItem.isLikedPost()} ? 'button button-like liked': 'button button-like'" th:attr="onclick=|doLikePost('${postItem.getPostId()}')|">
                                                <i class="fa fa-heart"></i>
                                                <span> Like </span>
                                                <input type="hidden" th:id="'checkLiked' + ${postItem.getPostId()}" th:value="${postItem.isLikedPost()}"/>
                                                <!-- if like  = getCountLikedPost
                                                if nolike = getCountLikedPost-1
                                                van update database-->
                                                <span th:id="'countLikedPost' + ${postItem.getPostId()}" th:text="${postItem.getCountLikedPost()}"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <ul>
                                        <li th:each="dataComment : ${postItem.getPostComment()}">
                                            <p><strong th:text="${dataComment.getUsername()}"></strong></p>
                                            <p th:text="${dataComment.getContent()}">

                                            </p>
                                        </li>
                                    </ul>
                                    <div class="row">
                                        <textarea th:id="'commentContent' + ${postItem.getPostId()}" style="width: 100%; margin: 1%;"></textarea>
                                        <br>
                                        <button th:attr="onclick=|doCommentPost('${postItem.getPostId()}')|" style="margin: 1%;" class="btn btn-primary">bình luận</button>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/userClient.js" th:src="@{/js/userClient.js}"></script>
</body>
</html>
