<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Cài đặt tài khoản</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/userSettingStyle.css" th:href="@{/css/userSettingStyle.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="d-flex flex-column  align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm sticky-top" style="overflow:hidden;">
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <h4 style="text-align: center">Trang cài đặt  tài khoản</h4> <br>
            </div>
        </nav>
    </div>
    <div class="container" style="position: sticky;">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#updateAvatar" aria-controls="updateAvatar" role="tab" data-toggle="tab">Cập nhật avatar</a></li>
            <li role="presentation"><a href="#updatePassword" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#Album" aria-controls="messages" role="tab" data-toggle="tab">Album ảnh</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="updateAvatar">
                <form id="upload-file-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" name="avatar"  class="custom-file-input" id="avatar" accept="image/*"/>
                            <label class="custom-file-label" for="avatar">Đính kèm ảnh</label>
                        </div>
                    </div>
                    <button type="submit" id="submitButton" class="btn btn-success" style="margin: 1%;">Cập nhật</button>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="updatePassword">This is Profile content</div>
            <div role="tabpanel" class="tab-pane" id="Album">
                <div class="container">
                    <div class="column">
                        <img width="100px" height="100px" th:src="'/images/get/' + ${imageSrc}" style="width:200px; height:200px"  th:each="imageSrc : ${albumImage}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/js/userSettingClient.js" th:src="@{/js/userSettingClient.js}"></script>
</body>
</html>